@import url('https://fonts.googleapis.com/css2?family=Poppins:&display=swap');
@import url('href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

 #map {
  height: 100%;
  z-index: 0;
}

#route-panel {
  position: fixed;
  top: 100px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border: 1px;
  border-radius: 10px;
  z-index: 5;

  /* background-color: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  /* background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}

input {
  align-items: center;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;  
  font-size: 14px;
}

input:focus {
  outline: none;
}

select {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #f8f8f8;  font-family: 'Poppins', sans-serif;  
  color: #444;
}

select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);

}

.route-card {
  font-size: 13px;
  width: 120px;
  padding: 5px;
  margin: 1px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

}

#gg-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding-bottom: 5px;
}

#mode {
  margin-bottom: 10px;
}

h3 {
  margin-top: 0;
  color: #007BFF;
}

p {
  margin-bottom: 0;
}